*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Arial, Helvetica, sans-serif;

}

body{

    background:#f5f7fc;

    display:flex;

    justify-content:center;

    padding:50px 20px;

}

.container{

    width:900px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

h1{

    text-align:center;

    margin-bottom:35px;

    color:#333;

}

.subtitle{

    text-align:center;

    color:#666;

    margin-bottom:35px;

}

label{

    display:block;

    margin-top:20px;

    margin-bottom:8px;

    font-weight:bold;

    color:#444;

}

input,

select,

textarea{

    width:100%;

    padding:14px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

    outline:none;

}

textarea{

    resize:vertical;

    min-height:300px;

    line-height:1.6;

}

input:focus,

select:focus,

textarea:focus{

    border-color:#6c4df6;

}

button{

    margin-top:30px;

    width:100%;

    padding:16px;

    border:none;

    background:#6c4df6;

    color:white;

    font-size:17px;

    font-weight:bold;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#5639e5;

}

@media(max-width:900px){

    .container{

        width:100%;

        padding:25px;

    }

}
/* TAG INPUT */

.tag-box{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    border:1px solid #ccc;

    border-radius:10px;

    padding:10px;

    min-height:55px;

    align-items:center;

}

#tagInput{

    border:none;

    outline:none;

    flex:1;

    min-width:150px;

}

.selected-tag{

    background:#6c4df6;

    color:white;

    padding:8px 14px;

    border-radius:20px;

    display:flex;

    align-items:center;

    gap:8px;

    font-size:14px;

}

.selected-tag span{

    cursor:pointer;

    font-weight:bold;

}